body {
    background-color:aqua;
    font-family: monospace;
    color: #000000;
  }
div{
  border-width: 8px;
  border-style:double;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main {
    width: 600px;
    margin: 0 auto; 
  }
